<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>606426355260-78j7hbulmvfah7s8hsm4nhdbmkv1ormi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606426355260-78j7hbulmvfah7s8hsm4nhdbmkv1ormi</string>
	<key>API_KEY</key>
	<string>AIzaSyBv__GNnaEBUlZ3ThCnDxaqcU1wxNQOUKE</string>
	<key>GCM_SENDER_ID</key>
	<string>606426355260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.workingReading</string>
	<key>PROJECT_ID</key>
	<string>working-reading</string>
	<key>STORAGE_BUCKET</key>
	<string>working-reading.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606426355260:ios:e0e1342c6b332a4fcc1539</string>
</dict>
</plist>